<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% data.forEach(entry => { %>
        <h1>Housing Information of house <%= entry.idHousingInfo%></h1>
           
        <h3> House Square Area : <%= entry.sqArea %> </h3>
        <h3> Number of bedrooms : <%= entry.NoOfBedrooms %></h3>
        <h3> Legality  <%= entry.Legality %> </h3>
        <h3> Location : <%= entry.Location %> </h3>
        <h3> Price per hour : <%= entry.PricePerHour %> </h3>
        <h3><a href="">Owner</a></h3>
        

        
    <% }) %>
</body>
</html>